@page
@model Pusok_Beata_ProiectFilm.Pages.Filme.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Film.Titlu" class="control-label"></label>
                <input asp-for="Film.Titlu" class="form-control" />
                <span asp-validation-for="Film.Titlu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Film.Regizor" class="control-label"></label>
                <input asp-for="Film.Regizor" class="form-control" />
                <span asp-validation-for="Film.Regizor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Film.AnProductie" class="control-label"></label>
                <input asp-for="Film.AnProductie" class="form-control" />
                <span asp-validation-for="Film.AnProductie" class="text-danger"></span>
            </div>
            <label asp-for="Film.ProducatorID" class="control-label">Nume Producator</label>
            <select asp-for="Film.ProducatorID" class="form-control" asp-items="ViewBag.ProducatorID"></select>
            <span asp-validation-for="Film.ProducatorID" class="text-danger"></span>
            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                foreach (var cat in Model.AssignedCategoryDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedCategories"
                                               value="@cat.GenID"
                                               @(Html.Raw(cat.Assigned ? "checked=\"checked\"" : "")) />
                                        @cat.GenID @: @cat.Nume
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
